
<footer>
	<div class="cont-foot">
		<div class="barra-inferior">
			<div class="informacion">
				<a href="#"> Términos y condiciones </a>
				<a href="#"> Avisos legales </a>
				<a href="#"> Cuidamos tu privacidad </a>
				<a href="#"> Ayuda </a>
			</div>
			<div class="integrantes">
				<p id="sub-integrantes">Integrantes</p>
				<p>Camila Persico</p>
				<p>Gabriel Narancio</p>
				<p>Eliana Romero Ibarra</p>
				<p>Elian Dominguez</p>
				<p>Martin Quiroz</p>
			</div>
		</div>
		<div class="derechos">
			<p>cursos© 2023</p>
		</div>
	</div>
</footer>
