<!-- PRESENTACIÓN -->
<div class="cont-index-1" style="background-image: url('assets/img/banner.jpg');">
    <div class="titulo-subtitulo" >
        <h1>Amplía tus oportunidades profesionales</h1>
        <p>Elige entre nuestros cursos con contenido nuevo cada mes</p>
    </div>
</div>

<!-- CURSOS MAS CALIFICADOS -->
<div class="cont-index-2">

  <div class="cont-index-2">
    <h2>Últimos cursos agregados</h2>
    <div class="cursos-mas-calificados">
      <div class="curso-calificado" *ngFor="let curso of ultimosCuatro">
        <div>
          <img [src]="'assets/img/cursos/' + curso.Imagen" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="precio-curso-cal">
          <p>{{ curso.Precio }}$</p>
        </div>
        <div class="descripcion-curso-cal">
          <p>{{ curso.Nombre }}</p>
        </div>
        <form action="verMediosDePago" method="POST" id="compraCursoCalificado">
          <input type="hidden" name="id_curso" [value]="curso.Identificador">
          <input type="hidden" name="precio" [value]="curso.Precio">
          <a [routerLink]="['/detalle-curso', curso.Identificador]" class="btn btn-secondary">Ver detalle</a>&nbsp;&nbsp;
          <input class="btn btn-primary" type="submit" value="Comprar">
        </form>
      </div>
    </div>
  </div>

</div>



<!-- CATEGORÍAS -->
<div class="cont-index-3">

    <h2>Categorías</h2>

    <div class="categorias-index">
        <div class="cat-index">
            <a href="verCursosPorCategoria?categoria=diseno" style="text-decoration: none;">
                <img src="assets/img/cat-diseño.jpg">
                <p>Diseño</p>
            </a>
        </div>

        <div class="cat-index">
            <a href="verCursosPorCategoria?categoria=programacion" style="text-decoration: none;">
                <img src="assets/img/cat-programacion.jpg">
                <p>Programación</p>
            </a>
        </div>

        <div class="cat-index">
            <a href="verCursosPorCategoria?categoria=musica" style="text-decoration: none;">
                <img src="assets/img/cat-musica.jpg">
                <p>Música</p>
            </a>
        </div>
    </div>
</div>
