.contenedor{
  width: 30%;
	margin: auto;
	margin-top: 60px;
	margin-bottom: 150px;
}

.contenedor h1 {
	font-weight: 500;
	margin-bottom: 30px;
  font-size: 35px;
}

.contenedor p {
	margin-bottom: 30px;
}

input[type="text"], input[type="email"], input[type="password"]{
  width: 100%;
  padding: 6px;
  display: block;
  box-sizing: border-box;
  border: 2px solid #cecece;
  border-radius: 5px;
  color: #404040;
  font-size: 16px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 30px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
  outline: none;
  border: 2px solid rgb(54, 129, 226);
}

input[type="submit"] {
  display: block;
  float: right;
}

#error-message {
  color: red;
}