<div class="contenedor">
  <div *ngFor="let curso of carritoService.cursosEnCarrito; let cursoIndex = index">
    <div class="card mb-3" style="max-width: 840px;">
      <div class="row g-0">
        <div class="col-md-4">
          <div>
            <img id="img1" [src]="'assets/img/cursos/' + curso.Imagen">
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ curso.Nombre }}</h5>
            <p class="card-text">{{ curso.Descripcion }}</p>
            <p class="card-text"><small class="text-body-secondary">PRECIO {{ curso.Precio }}$</small></p>
            <button type="button" class="btn-close" aria-label="Close" (click)="eliminarCurso(cursoIndex)"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <p class="fw-bold">Total: {{ sumaTotal }}$</p>
    <button class="btn btn-danger" (click)="vaciarCarrito()">Comprar</button>
  </div>
</div>

