<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Iniciar Sesión</title>
</head>
<body>

<form method="post">
  <div class="contenedor">
    <h1>Registrarse</h1>
    <label for="mail">Escriba su email</label>
    <input type="email" id="mail" name="mail">
    <label for="contrasenia">Escriba su contraseña</label>
    <input type="password" id="contrasenia" name="contrasenia">
    <p id="error-message"></p>

    <div class="row">
      <button (click)="esValido()" (click)="registrarse()" class="btn btn-success">Registrarse</button>
    </div>
  </div>
</form>

<div class="verify-container" *ngIf="verify">
  <div class="w3-card-4">
    <div class="w3-container w3-blue">
      <h1 class="w3-center">Verificación de Correo Electrónico</h1>
    </div>
    <div class="w3-container">
      <p class="w3-text-grey w3-center">Te hemos enviado un correo electrónico. Por favor, introduce el código de verificación:</p>
      <form class="w3-container">
        <label for="codigo">Código de Verificación:</label>
        <input id="codigo" class="w3-input" type="text" id="codigo" name="codigo" placeholder="Introduce el código aquí">
        <br>
        <div class="w3-center">
          <button class="btn btn-success" type="submit" (click)="verifyCode()">Verificar</button>
        </div>
      </form>
    </div>
  </div>
</div>

</body>
</html>


