<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Descripcion de curso</title>
</head>
<body>
	<div *ngFor="let c of curso">
		<div id="contenedor">
			<div id="cont1">
				<img id="img1" [src]="'assets/img/cursos/' + c.Imagen">
			</div>
			<div id="cont2">
				<p id="nombreCurso">{{c.Nombre}}</p>
				<p id="precioCurso">{{c.Precio}}$</p>
			</div>
			<div id="cont3">
        <button class="btn btn-secondary w-100" (click)="agregarAlCarrito(c)">Añadir al carrito</button>
      </div>
			<div id="cont4">
				<a [routerLink]="['/comprar', c.Precio]" class="btn btn-primary w-100 ">Comprar</a>
			</div>
			<div id="descripcion">
				<p id="descTit">Descripción</p>
				<p id="descCuerpo">{{c.Descripcion}}</p>
			</div>
		</div>
	</div>
  </body>
</html>
