<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Descripcion de curso</title>
</head>
<body>
	<div id="contenedor">
		<div id="cont1">
			<img id="img1" src="assets/img/cursos/php-desde-cero.jpg">
		</div>
		<div id="cont2">
			<p id="nombreCurso">Curso de php</p>
			<p id="precioCurso">20000.00$</p>
		</div>
		<div id="cont3">
			<input class="w-100 btn btn-secondary" type="submit" value="Añadir al carrito">
		</div>
		<div id="cont4">
			<input class="w-100 btn btn-primary" type="submit" value="Comprar">
		</div>
		<div id="descripcion">
			<p id="descTit">Descripción</p>
			<p id="descCuerpo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic error tempore sit architecto. Quos deleniti dicta eveniet voluptatibus doloremque! Aperiam aut asperiores laudantium facere voluptatem cum quod ullam autem distinctio.</p>
		</div>
	</div>
  </body>
</html>