.contenedor{
  width: 50%;
  height: 50%;
  margin: auto;
}
.card-price{
  display: flex;
  justify-content: space-between;
}
.filtro {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: end;
}
.card-title{

}
